{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Produto</title>
    <meta charset="utf-8">
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <h1>Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method='POST' class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_nome">Nome</label>
                <input type="text" name="nome" maxlength="100" class="form-control" placeholder="Nome" title="" required="" id="id_nome">
            </div>
            <div class="form-group">
                <label for="id_preco">Preço</label>
                <input type="number" name="preco" step="0.01" class="form-control" placeholder="Preço" title="" required="" id="id_preco">
            </div>
            <div class="form-group">
                <label for="id_estoque">Estoque</label>
                <input type="number" name="estoque" class="form-control" placeholder="Estoque" title="" required="" id="id_estoque">
            </div>
            <div class="form-group">
                <label for="id_imagem">Imagem</label>
                <input type="file" name="imagem" accept="image/*" class="form-control-file" title="" required="" id="id_imagem">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>